$font-color-light: #fff;
$font-color-dark: #000;
$bg-color: #333;

$color-light: #fff;
$color-dark: #444;

$font-logo: 'MonteCarlo', cursive;
$font-header: 'Oswald', sans-serif;
$font-text: 'Source Sans Pro', sans-serif;

