.bar {
  position: sticky;
  top: 0;
  background-color: $bg-color;

  &__btn-icon {
    padding: 20px;
    border: none;
    background: none;
    color: $font-color-light;
    font-size: 28px;
  }
}

.nav {
  position: fixed;
  top: 0;
  left: -500px;
  width: 100vw;
  height: 100vh;
  transition: left 0.3s linear;
  background-color: $bg-color;

  &__title {
    margin-top: 10px;
    font-size: 24px;
    font-family: $font-header;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    color: $font-color-light;
  }

  &.nav--active {
    display: block;
    left: 0;
  }

  ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 95vh;
    list-style: none;

    li {
      a {
        text-transform: uppercase;
        text-decoration: none;
        color: $font-color-light;
      }
    }
  }
}
